<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		 <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<title>Employee Repository</title>
	</head>
	<body>
		<div class="container">
			
			<h1 class="text-center">Employee Repository</h1>
			<hr>
			
			<div class="row">
				<a th:href="@{/employees/showFormForAdd}" class="btn btn-primary mb-3 ml-3">Add Employee</a>
				
				<form action="#" th:action="@{/employees/index/page/1}" method="GET" class="col text-right mt-1">
					<input type="hidden" name="sortField" th:value="${sortField}" />
					<input type="hidden" name="sortDirection" th:value="${sortDirection}" />
					
					<input type="text" placeholder="Search" name="searchTerm" th:value="${searchTerm}" required />
					<input type="submit" class="btn btn-sm" style="color: white; background: grey" />
				</form>
				
				<form action="#" th:action="@{/employees/index}" method="GET">
					<input type="submit" class="btn btn-sm mt-1" style="background: black; color: white;" th:value="'Clear Search'" />
				</form>
			</div>
			
			<div class="table-responsive border mb-3">
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th>
								<a th:href="@{'/employees/index/page/' + ${currentPage} + '?sortField=firstName&sortDirection=' + ${reverseSortDirection} + ${searchTerm != null ? '&searchTerm=' + searchTerm : ''}}">First Name</a>
							</th>
							<th>
								<a th:href="@{'/employees/index/page/' + ${currentPage} + '?sortField=lastName&sortDirection=' + ${reverseSortDirection} + ${searchTerm != null ? '&searchTerm=' + searchTerm : ''}}">Last Name</a>
							</th>
							<th>
								<a th:href="@{'/employees/index/page/' + ${currentPage} + '?sortField=email&sortDirection=' + ${reverseSortDirection} + ${searchTerm != null ? '&searchTerm=' + searchTerm : ''}}">Email</a>
							</th>
							<th>Update</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="employee : ${page}">
							<td th:text="${employee.firstName}" />
							<td th:text="${employee.lastName}" />
							<td th:text="${employee.email}" />
							<td>
								<a th:href="@{/employees/showFormForUpdate(employeeId=${employee.id})}" 
									class="btn btn-warning btn-sm" >Update</a>
							</td>
							<td>
								<a th:href="@{/employees/deleteById(employeeId=${employee.id})}" 
									class="confirm-delete btn btn-danger btn-sm">Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
				
			<div class="row">
			
				<div class="col-3">
					Total Employees: [[${totalEmployees}]] - Page [[${currentPage}]] of [[${totalPages}]]
				</div>			
			
				<div class="col-9">
					<nav aria-label="...">
						<ul class="pagination justify-co">
							
							<li class="page-item">
								<a class="page-link" th:if="${currentPage > 1}" th:href="@{'/employees/index/page/1?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + ${searchTerm != null ? '&searchTerm=' + searchTerm : ''}}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
</svg></a>
								<span class="page-link" th:unless="${currentPage > 1}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
</svg></span>
							</li>
							<li class="page-item">
								<a class="page-link" th:if="${currentPage > 1}" th:href="@{'/employees/index/page/' +  ${currentPage - 1}  + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + ${searchTerm != null ? '&searchTerm=' + searchTerm : ''}}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
  <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
</svg></a>
								<span class="page-link" th:unless="${currentPage > 1}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
  <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
</svg></span>
							</li>
							
						    <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
					        	<li class="page-item active">
							        <span class="page-link active" aria-current="page" th:if="${currentPage == i}" th:text="${i}">
							        </span>
					            </li>
						        <span th:unless="${i == currentPage}">
						             <a class="page-link" 
						             	th:href="@{'/employees/index/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + ${searchTerm != null ? '&searchTerm=' + searchTerm : ''}}" th:text="${i}">
						             </a>
						        </span>
						    </th:block>
						    
					    	<li class="page-item">
							    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/employees/index/page/' + ${currentPage + 1}  + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + ${searchTerm != null ? '&searchTerm=' + searchTerm : ''}}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
  <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg></a>
							    <span class="page-link" th:unless="${currentPage < totalPages}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
  <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg></span>
							</li>
							<li>
								<a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/employees/index/page/' +  ${totalPages}  + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + ${searchTerm != null ? '&searchTerm=' + searchTerm : ''}}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg></a>
								<span class="page-link" th:unless="${currentPage < totalPages}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg></span>
						    </li>
						    
						
					    </ul>
				    </nav>
			    </div>
			</div>
			
		</div>
	</body>
</html>